{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}
    <h1>Ajout d'une sortie:</h1>

    {{ form_start(eventForm) }}
    <button>Ajouter la sortie</button>
    {{ form_end(eventForm) }}




{% endblock %}