{% extends 'base.html.twig' %}

{% block title %}événement{% endblock %}

{% block body %}
    <h1>Liste des événement:</h1>
    {% for event in events %}
        <div>
            <a href="{{ path('event_details',{"id":event.id}) }}">{{ event.name }}</a>
        </div>
        {% endfor %}

    <a href="{{ path('event_create') }}"><button>Ajouter une événement</button></a>

{% endblock %}