{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(eventForm) }}
    <button>Modifier la événement</button>
    {{ form_end(eventForm) }}

{% endblock %}

{% block title %}

{% endblock %}
