{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div>
    <h1> Bienvenue sur le site Sortir</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim elit, tempor in erat sit amet, facilisis porta diam. Sed non felis nisi. Nulla at quam a neque auctor cursus. Sed eleifend ultrices ante vel aliquam. Praesent a ligula interdum, vestibulum tellus sed, fringilla nisi. Ut rhoncus arcu eu orci mattis elementum. Sed ut dignissim diam.

        Aliquam ultrices a nisl eu ullamcorper. Phasellus tristique sem enim, vitae tincidunt orci iaculis sed. Ut pellentesque purus sit amet sem imperdiet vulputate. Nunc sagittis malesuada erat, vel congue leo hendrerit sed. Suspendisse nec libero id nisi malesuada porttitor. Mauris quis purus sed eros imperdiet aliquet placerat vel nibh. Duis mollis molestie pretium. Vestibulum vitae justo pretium, aliquam turpis et, tristique mauris. Quisque eu diam vel lectus iaculis ullamcorper eu eget justo. Nullam non mi vel orci sagittis blandit.

        Integer et magna tristique, faucibus leo vel, aliquet justo. Ut suscipit odio ac lobortis molestie. Vestibulum pulvinar placerat risus et dictum. Donec ultricies pretium eleifend. Nam quis tortor sed dolor ullamcorper convallis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam non suscipit urna. Sed ac ex ut magna aliquet finibus at et sapien. Maecenas facilisis pretium aliquet. Suspendisse a placerat sapien. Curabitur nec cursus sem, vitae cursus nisi. Sed convallis tempor pretium. Maecenas in interdum massa. Proin id nibh non purus faucibus venenatis. Nam molestie congue quam, ut mollis mi bibendum non.
    </p>
</div>
{% endblock %}
