

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background: grey;

}

.logo{
    height: 50px;
    width: 50px;
    margin-right:5px;
}
body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}


.form-inline {
    display: flex;



}





