

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    background: linear-gradient( #dbbadf, #5c57e6);
    background-attachment: fixed;
    background-position: center center;
}

.logo{
    height: 50px;
    width: 50px;
    margin-right:5px;
}
body {
    display: flex;
    flex-direction: column;
}
/*button {*/
/*    margin-top: 20px;*/
/*}*/
main {
    flex: 1;
}
footer {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.action-buttons a {
    margin-right: 10px;
}
#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

#filters .form-group {
    margin-right: 15px;
    flex-wrap: wrap;
}

#filters .form-check {
    margin-right: 15px;
}

#filters .btn {
    margin-top: 10px;
}

#filters .form-control {
    width: auto;
}

#sidebar {
    margin-left: auto;
    text-align: right;
}

#sidebar div {
    margin-bottom: 10px;
}

.form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.form-inline .form-group {
    margin-right: 15px;
}

.form-inline .form-check {
    margin-right: 15px;
}

.form-inline .btn {
    margin-top: 10px;
}


@media (max-width: 768px) {
    .form-inline {
        flex-direction: column;
        align-items: flex-start;
    }
}
.form-label {
    font-weight: bold;
}
.form-control {
    border-radius: 0.25rem;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.alert-success {
    margin-bottom: 1rem;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}
body {
    background: linear-gradient( #dbbadf, #5c57e6);
    background-attachment: fixed;
    background-position: center center;
}
