{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
<h1>Liste des villes:</h1>
{% for city in cities %}
    <div>
        <a href="{{ path('city_details',{"id":city.id}) }}">{{ city.name }}</a>
    </div>
    {% endfor %}

    <a href="{{ path('city_create') }}"><button>Ajouter une ville</button></a>


{% endblock %}
