{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(cityForm) }}
    <button>Modifier la ville</button>
    {{ form_end(cityForm) }}

{% endblock %}

{% block title %}

{% endblock %}

