{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(placeForm) }}
    <button>Modifier le lieu</button>
    {{ form_end(placeForm) }}

{% endblock %}

{% block title %}

{% endblock %}

