{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(userForm) }}
    <button>Modifier mon profil</button>
    {{ form_end(userForm) }}

{% endblock %}

